.container {
  width: 100%;
  margin-top: 16px;
}

.dataGrid {
  background-color: #fff;
}

.iconButton {
  padding: 4px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
