.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: transform 0.3s ease;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  transition: margin-left 0.3s ease;
}

/* Hamburger button styles */
.hamburger {
  display: none; /* Initially hide the hamburger button on larger screens */
}

/* Show hamburger button on small screens */
@media screen and (max-width: 700px) {
  .sidebar {
    transform: translateX(-200px);
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .content {
    margin-left: 0;
  }
  .hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    color: #04aa6d;
  }
}
