<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Created</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
    </style>
</head>
<body>
    <p>Hi,</p>
    <p>A new student account has been created for you. Your password is your email + your First Name.</p>
    <p>Best regards,<br>Me</p>
    <a href="http://localhost:5173/" class="button">Go to Page</a>
</body>
</html>
