.headerDropdown {
  padding-right: 100px;
}

#navElement {
  color: white;
  padding-left: 50px;
  margin-left: 50px;
}

.notificationButton {
  border-radius: 50px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
}
