.page {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: whitesmoke;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.formContainer {
  /* padding: 30px; */
  margin-top: 170px;
  box-shadow: grey;
  transform: translateZ(30);
  background-color: hwb(204 84% 6%);
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.heading {
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 5px;
}

.inputBox {
  margin-bottom: 10px;
  font-size: 1rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.notUserText {
  margin-bottom: 5px;
  font-size: 1em;
}
.notUserButton {
  font-size: 0.8rem;
  background-color: #8d99ae;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.notUserButton:hover {
  font-size: 1rem;
  background-color: hwb(204 84% 6%);
}
.signInButton {
  font-size: 0.8rem;
  background-color: #8d99ae;
  /* background-color: #8d99ae; */
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.signInButton:hover {
  font-size: 1.1rem;
  background-color: hwb(204 84% 6%);
}
